/* @import module/_section.css */

#main, #default, #videos {
    margin-top: 6rem;   /* push it below a fixed nav bar */

    .container {

        .heading {
            h3 {
                font-weight: $font-weight-bold;
                margin: 1rem 0;
            }
            p {
                font-size: 1.4rem;
                padding: 0 1rem;
            }
        }
    
        .content {
            h4 {
                font-weight: $font-weight-bold;
                margin: .5rem 0;
            }
            p {
                font-size: 1.4rem;
                padding: 0 1rem;
            }
        }
    } /* .container class */
    
} /* #main, #default, #videos */